@import "variables.css";

.perspective {
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: top;
}

.loading {
  @media (--break-horizontal-min) {
    transform-style: preserve-3d;
    :global {
      animation: spin-in 1s backwards 1 1s;
    }
    will-change: transform;
  }
}

.cube {
  display: flex;
}

.face1 {
  @media (--break-vertical-max) {
    display: none;
  }
  backface-visibility: hidden;
  background: var(--color__fire);
  transform: rotateY(-90deg) translateX(-100%);
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  .loading & {
    &::before {
      content: "";
      height: 15vw;
      width: 15vw;
      margin-top: 33vh;
      border-radius: 50%;
      border: 1vw dotted white;
      border-bottom: 0 none;
      :global {
        animation: spinner 3s backwards infinite linear;
      }
    }
  }
  .loaded & {
    display: none;
  }
}

.face2 {
  backface-visibility: hidden;
}
