@keyframes flip-out {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0.4;
  }
}

@keyframes flip-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 0.4;
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes spin-out {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
    opacity: 0.4;
  }
}

@keyframes spin-in {
  0% {
    transform: rotateY(90deg) translateX(50%) rotateY(-90deg) translateX(50%)
      rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
    transform-origin: 0 25%;
  }
}

@keyframes spinner {
  to {
    transform: rotate(-1turn);
  }
}
