html {
  @media screen {
    background: #888;
    font-size: 17px;
  }
  @media print {
    font-size: 8pt;
  }
}

body {
  color: var(--color__body);
  font-family: "Theinhardt", sans-serif;
  line-height: var(--line-height__body);
  margin: 0;
  padding: 0;
  @media (--break-horizontal-min) {
    margin: 1em auto;
  }
}
