@import "resets.css";
@import "variables.css";
@import "animations.css";
@import "typography.css";
@import "basics.css";
@import "grid.css";

.divider {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.45rem;
    width: 100%;
    border-top: var(--section-decoration);
  }
}

@page {
  width: 21cm;
  margin: 0.5cm;
}
