.grid {
  margin-bottom: calc(var(--rhythm__vertical) * 2);
  &--tight-bottom {
    margin-bottom: 0;
  }
  @media (--break-horizontal-min), print {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--column-gap);
    grid-template-areas: "one two-three two-three two-three";
  }
  &__header {
    grid-area: one;
  }
  &__main {
    grid-area: two-three;
  }
  &__sub {
    @media (--break-medium-min), print {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: var(--column-gap);
      grid-template-areas: "two three three";
    }
  }
  &__sub-info {
    grid-area: two;
    margin-bottom: var(--rhythm__vertical);
  }
  &__sub-description {
    grid-area: three;
  }
}
