
html {
    box-sizing: border-box;
    
}
*, *:before, *:after {
box-sizing: inherit;
}

main {
    display: block;
}

ul, 
li, 
dl, 
dd,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
  }

:link:not(:hover) {
    text-decoration: none;
}