@import "variables.css";

.header {
  font-size: var(--header-size);
  font-family: var(--font__header);
  font-weight: lighter;
  white-space: nowrap;
  margin-top: -var(--header-margin-top);
  padding-bottom: calc(var(--line-height__body) + var(--header-margin-top));
  @media (--break-horizontal-min), print {
    margin-top: var(--header-margin-top);
    text-align: right;
  }
}
