@import "variables.css";

.downloadPDF {
  @media print {
    display: none;
  }
  color: white;
  text-align: center;
  @media (--break-horizontal-min) {
    position: fixed;
    z-index: 9999;
    transform: rotate(45deg);
    top: 2rem;
    right: -7rem;
  }
}

.link {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 1rem 7em;
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  background: var(--color__fire);
  &:hover {
    background: var(--color__ice);
  }
}
.text {
  @media (--break-horizontal-min) {
    display: inline-block;
    vertical-align: middle;
    width: 6em;
  }
}
.icon {
  /* from icono font */
  border: 2px solid;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: inherit;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  width: 26px;
  height: 32px;
  border-radius: 0 0 0 10px;
  margin: 1px 4px 1px 0.5em;
  &::before,
  &::after {
    content: "";
    pointer-events: none;
  }
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    left: -3px;
    bottom: -3px;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &::after {
    width: 13px;
    height: 2px;
    box-shadow: inset 0 0 0 32px, 0 -5px 0 0, 0 5px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
